####### Nginx (webserver) #######
HTTP_EXPOSING_PORT=8080

####### For WordPress #######
DB_NAME=enpii_boilerplate
DB_USER=userdb
DB_PASSWORD=
DB_ROOT_PASSWORD=

DB_HOST='127.0.0.1'
DB_PORT='3306'
DB_DATABASE=${DB_NAME}
DB_USERNAME=${DB_USER}
DB_TABLE_PREFIX=wp_

WP_ENV=local

# 1 would be convert to true in wp-config.php, use the word 'true' would be consider as the string
WP_DEBUG=1
WP_DEBUG_DISPLAY=0
SAVEQUERIES=1
WP_DEBUG_LOG=/Users/tracnguyen/workspace/www/enpiicom/wp-site-enpii-boilerplate/log/wp.log

# SALTS section
# Salts https://roots.io/salts.html
# You can refresh that url for new salts and copy one of them to any missing SALT environment variable
AUTH_KEY=''
SECURE_AUTH_KEY=''
LOGGED_IN_KEY=''
NONCE_KEY=''
AUTH_SALT=''
SECURE_AUTH_SALT=''
LOGGED_IN_SALT=''
NONCE_SALT=''
WP_CACHE_KEY_SALT=''

####### For PHP #######
PHP_TIMEZONE='Asia/Ho_Chi_Minh'
PHP_POST_MAX_SIZE=32M
PHP_UPLOAD_MAX_FILESIZE=32M
PHP_MEMORY_LIMIT=256M
PHP_MAX_EXECUTION_TIME=30

# WP Multisite
# https://wordpress.org/documentation/article/nginx/
WP_ALLOW_MULTISITE=0
MULTISITE=0
SUBDOMAIN_INSTALL=1
DOMAIN_CURRENT_SITE=enpii-boilerplate.local
PATH_CURRENT_SITE=/
SITE_ID_CURRENT_SITE=1
BLOG_ID_CURRENT_SITE=1

####### For WP App (Laravel) #######
ENPII_BASE_WP_APP_BASE_PATH=
ENPII_BASE_WP_APP_PREFIX=wp-app
ENPII_BASE_WP_API_PREFIX=wp-api
WP_APP_TELESCOPE_ENABLED=0
WP_APP_TINKER_ENABLED=1
WP_APP_PASSPORT_ENABLED=0
ARTISAN_BINARY=/var/www/html/wp-enpii-base-artisan
