parameters:
    level: max  # Set the analysis level (0-8 or 'max'). 'max' is the strictest.

    # Excludes certain paths from analysis, such as vendor or test directories
    excludePaths:
        - vendor
        - tests
